<div class="reddit-title">
  VFA Reddit
</div>



<% @listings.each do |listing| %>
  <div class="listing-container">
    <div class="title">
      <a href="https://reddit.com<%= listing['data']['permalink'] %>" class="link"><%= listing['data']['title'] %></a>
    </div>
    <div class="meta">
      <spam class="score"><%= listing['data']['score'] %></spam> -
      <span class="subreddit"><%= listing['data']['subreddit'] %></span>
    </div>
  </div>
<% end %>

<br><br><br>