
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: blue;
}

</style>
</head>

<body>
<div class="title">

<h1> Flatiron School + Venture for America </h1>
</div>
<img src="http://www.pixelstalk.net/wp-content/uploads/2016/03/Epic-Wallpaper-For-Desktop-download.jpg.jpg" height="500" width="500"/>
<img src="http://www.desktopimages.org/pictures/2014/0421/1/game-of-thrones-daenerys-targaryen-with-dragon-wallpaper-61595.jpg" height="500" width="600"/>
</body>

</html>
