<div img>
<head>
  <meta charset="UTF-8">
  <title>Startup Sprint Team</title>
</head>

<figure>
  <img src="http://vignette3.wikia.nocookie.net/p__/images/3/3c/Kermit_the_Frog.png/revision/latest?cb=20150102173217&path-prefix=protagonist" alt="Akash_Shah">
<figcaption>Akash Shah </figcaption>
</figure>
<figure>
  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--DXPgsHs8--/c_scale,fl_progressive,q_80,w_800/z1at3bhcab9thso9jjdj.jpg" alt="Connor_Moore">
<figcaption>Connor Moore</figcaption>
</figure>
<figure>
  <img src="http://vignette2.wikia.nocookie.net/muppet/images/6/61/Scooter_photo.jpg/revision/latest?cb=20120206211033" alt="Hannah_White">
<figcaption>Hannah White</figcaption>
</figure>
<figure>
  <img src="https://s-media-cache-ak0.pinimg.com/736x/58/17/79/581779704d7123041c4805e8df493758.jpg" alt="Daniel">
<figcaption>Daniel Gorziglia</figcaption>
</figure>
</div>
